@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

main,
header {
  margin: 0 1rem;
}
@media (min-width: 58.125rem) {
  main,
header {
    margin: auto;
    max-width: 95rem;
  }
}

@media (min-width: 58.125rem) {
  .block {
    margin: 0 4rem;
  }
}

.logo-header path {
  fill: hsl(257deg, 27%, 26%);
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
@media (min-width: 58.125rem) {
  .wrapper-header {
    justify-content: inherit;
    gap: 3rem;
  }
}

.hamburger {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font: inherit;
  background: transparent;
  border: transparent;
  z-index: 110;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (min-width: 58.125rem) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  transform: scale(1.1);
}
.hamburger.active .bar-menu:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar-menu:nth-child(1) {
  background-color: hsl(0deg, 87%, 67%);
  transform: translateY(0.45rem) rotate(-135deg);
}
.hamburger.active .bar-menu:nth-child(3) {
  background-color: hsl(0deg, 87%, 67%);
  transform: translateY(-0.45rem) rotate(135deg);
}

.bar-menu {
  font: inherit;
  box-sizing: border-box;
  display: block;
  background-color: hsl(257deg, 7%, 63%);
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 2px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.wrap-menu {
  background-color: hsl(257deg, 27%, 26%);
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  width: 80%;
  z-index: 1000;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.wrap-menu.active {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 58.125rem) {
  .wrap-menu {
    visibility: visible;
    opacity: 1;
    position: initial;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.wrap-menu a {
  color: white;
  font-weight: 700;
}
@media (min-width: 58.125rem) {
  .wrap-menu a {
    color: hsl(257deg, 7%, 63%);
    font-weight: 700;
    font-size: 1rem;
  }
  .wrap-menu a:hover {
    color: hsl(257deg, 27%, 26%);
  }
}

.wrap-menu li {
  width: 100%;
  text-align: center;
}
@media (min-width: 58.125rem) {
  .wrap-menu li {
    width: inherit;
  }
}

.wrap-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 58.125rem) {
  .wrap-menu ul {
    flex-direction: row;
  }
}

.btn {
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: #7ce4e4;
}

.sign-up-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: hsl(180deg, 66%, 49%);
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
}
@media (min-width: 58.125rem) {
  .sign-up-button {
    color: white !important;
    padding: 0.5rem;
    width: inherit;
    padding: 0.5rem 1rem;
  }
}

.menu-link::after {
  content: "";
  width: 100%;
  height: 0.2px;
  opacity: 0.5;
  margin-block: 1rem;
  background: hsl(257deg, 7%, 63%);
}
@media (min-width: 58.125rem) {
  .menu-link::after {
    display: none;
  }
}

.human-working-wrap {
  background-image: url(images/illustration-working.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  min-height: 20rem;
}
@media (min-width: 58.125rem) {
  .human-working-wrap {
    max-width: 30rem;
    background-size: contain;
  }
}

/*
.working-human {
  margin: 1rem 1rem 2rem 1rem;
  width: 140%;
  height: auto;
  padding-left: 40%;
  max-width: 140%;
  @include larger-screen {
    padding-left: 0;
    margin: 0;
    width: 50%;
    max-width: 50rem;
  }
}
*/
.more-than-just {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin: 2rem 0;
  overflow: hidden;
}
@media (min-width: 58.125rem) {
  .more-than-just {
    flex-direction: row-reverse;
    text-align: left;
    padding-block: 3rem;
  }
}

.wrapper-more-than {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 58.125rem) {
  .wrapper-more-than {
    align-items: flex-start;
    flex-grow: 2;
  }
}

.more-than-just h1 {
  font-weight: 700;
  color: hsl(257deg, 27%, 26%);
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -1px;
}
@media (min-width: 58.125rem) {
  .more-than-just h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.more-than-just p {
  color: hsl(257deg, 7%, 63%);
}

.link-shorten-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-shorten-mobile.svg);
  padding: 2rem 1rem 2rem 1rem;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: right;
  background-position-y: top;
  border-radius: 0.5rem;
  background-color: hsl(257deg, 27%, 26%);
  margin: 1rem 0;
  gap: 1.25rem;
}
@media (min-width: 58.125rem) {
  .link-shorten-form {
    flex-direction: row;
    padding: 2rem;
    background-image: url(images/bg-shorten-desktop.svg);
    background-position-x: center;
    background-position-y: center;
  }
}

.link-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  font-family: inherit;
  padding-block: 0.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1.125rem;
}
.link-input::-moz-placeholder {
  color: hsl(0deg, 0%, 75%);
}
.link-input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 75%);
}
.link-input::placeholder {
  color: hsl(0deg, 0%, 75%);
}
.link-input.active {
  border: 2px solid hsl(0deg, 87%, 67%);
  margin-bottom: 0;
}
.link-input.active::-moz-placeholder {
  color: hsl(0deg, 87%, 67%);
}
.link-input.active:-ms-input-placeholder {
  color: hsl(0deg, 87%, 67%);
}
.link-input.active::placeholder {
  color: hsl(0deg, 87%, 67%);
}
@media (min-width: 58.125rem) {
  .link-input {
    padding-block: 1rem;
  }
}

.wrap-form {
  width: 100%;
  position: relative;
}

.error-msg {
  font-size: 0.75rem;
  font-style: italic;
  color: hsl(0deg, 87%, 67%);
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: -1.1rem;
}
.error-msg.active {
  visibility: visible;
}

.link-button {
  background: none;
  font-family: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-block: 0.5rem;
  width: 100%;
  background-color: hsl(180deg, 66%, 49%);
  font-weight: 700;
  color: white;
  font-size: 1.125rem;
  border-radius: 0.5rem;
}
@media (min-width: 58.125rem) {
  .link-button {
    max-width: 10rem;
    padding-block: 1rem;
  }
}

.statistics {
  padding-block: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.statistics h2 {
  font-weight: 700;
  color: hsl(257deg, 27%, 26%);
  letter-spacing: -1px;
}
@media (min-width: 58.125rem) {
  .statistics h2 {
    font-size: 3rem;
  }
}

.statistics p {
  color: hsl(257deg, 7%, 63%);
}
@media (min-width: 58.125rem) {
  .statistics p {
    max-width: 45ch;
  }
}

.argument-section {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media (min-width: 58.125rem) {
  .argument-section {
    flex-direction: row;
    gap: 3rem;
    margin: auto;
    height: 100%;
    padding-block: 4rem;
    min-height: 20rem;
    justify-content: space-between;
    gap: 4%;
    max-width: 95rem;
  }
}

@media (min-width: 58.125rem) {
  .box-argu:nth-child(1) {
    align-self: start;
  }
}

@media (min-width: 58.125rem) {
  .box-argu:nth-child(2) {
    align-self: center;
  }
}

@media (min-width: 58.125rem) {
  .box-argu:nth-child(3) {
    align-self: end;
  }
}

.argument-section .box-argu {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
}
@media (min-width: 58.125rem) {
  .argument-section .box-argu {
    max-width: 20rem;
    max-height: 18rem;
  }
}

.box-argu:nth-child(2)::before {
  content: "";
  height: 100%;
  width: 0.5rem;
  background: hsl(180deg, 66%, 49%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: -1;
}
@media (min-width: 58.125rem) {
  .box-argu:nth-child(2)::before {
    width: 100%;
    height: 0.5rem;
    top: 40%;
    left: 0;
  }
}
.box-argu:nth-child(2)::after {
  content: "";
  height: 100%;
  width: 0.5rem;
  background: hsl(180deg, 66%, 49%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: -1;
}
@media (min-width: 58.125rem) {
  .box-argu:nth-child(2)::after {
    width: 100%;
    height: 0.5rem;
    bottom: 60%;
    left: 100%;
  }
}

.box-argu p {
  text-align: center;
  color: hsl(257deg, 7%, 63%);
}
@media (min-width: 58.125rem) {
  .box-argu p {
    text-align: left;
  }
}

.box-argu h3 {
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: hsl(257deg, 27%, 26%);
  letter-spacing: -1px;
}
@media (min-width: 58.125rem) {
  .box-argu h3 {
    text-align: left;
  }
}

.icon-argument {
  transform: scale(0.8);
}

.arg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257deg, 27%, 26%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 58.125rem) {
  .arg-icon {
    left: 25%;
  }
}

.boost-section {
  background-image: url(images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(257deg, 27%, 26%);
}
@media (min-width: 58.125rem) {
  .boost-section {
    background-image: url(images/bg-boost-desktop.svg);
  }
}

.boost-section h2 {
  color: white;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
}

.get-started-button {
  color: white;
  font-weight: 700;
  background-color: hsl(180deg, 66%, 49%);
  border-radius: 2rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  font-size: 1.125rem;
  max-width: 7rem;
}
.get-started-button:hover {
  background: #7ce4e4;
}

footer {
  background-color: hsl(260deg, 8%, 14%);
}

footer h5 {
  color: white;
  font-size: 1.125rem;
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-block: 2rem;
}
@media (min-width: 58.125rem) {
  .social-link {
    padding-block: 1rem;
    gap: 1rem;
  }
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}
@media (min-width: 58.125rem) {
  .nav-footer {
    flex-direction: row;
    align-items: flex-start;
    gap: 8%;
    margin: auto;
  }
}

footer a {
  color: hsl(0deg, 0%, 75%);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  color: hsl(180deg, 66%, 49%);
}

.link-social {
  display: block;
}
.link-social:hover path {
  transition: all 0.2s ease-in-out;
  fill: hsl(180deg, 66%, 49%);
}

footer li {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}
@media (min-width: 58.125rem) {
  footer li {
    text-align: left;
  }
}

.logo-footer {
  padding-block: 1rem;
}

@media (min-width: 58.125rem) {
  .wrapper-logo {
    max-width: 23rem;
  }
}/*# sourceMappingURL=style.css.map */