// RESET STYLE //

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

// COLORS //

//Primary

$Cyan: hsl(180, 66%, 49%);
$Cyan-white: #7ce4e4;
$Dark-Violet: hsl(257, 27%, 26%);
$white: white;

//Secondary

$Red: hsl(0, 87%, 67%);

//Neutral

$Gray: hsl(0, 0%, 75%);
$light-Gray: #f0f1f6;
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

// breakpoint //

@mixin larger-screen {
  @media (min-width: 58.125rem) {
    @content;
  }
}

// FONT //

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

// STYLE //
main,
header {
  margin: 0 1rem;
  @include larger-screen() {
    margin: auto;
    max-width: 95rem;
  }
}
.block {
  @include larger-screen() {
    margin: 0 4rem;
  }
}

// HEADER //

.logo-header path {
  fill: $Dark-Violet;
}
.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  @include larger-screen() {
    gap: 3rem;
  }
}
// hamburger //
.hamburger {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font: inherit;
  background: transparent;
  border: transparent;
  z-index: 110;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  @include larger-screen {
    display: none;
  }
  &:hover {
    transform: scale(1.1);
  }

  &.active {
    .bar-menu:nth-child(2) {
      opacity: 0;
    }
    .bar-menu:nth-child(1) {
      background-color: $Red;
      transform: translateY(0.45rem) rotate(-135deg);
    }
    .bar-menu:nth-child(3) {
      background-color: $Red;
      transform: translateY(-0.45rem) rotate(135deg);
    }
  }
}
.bar-menu {
  font: inherit;
  box-sizing: border-box;
  display: block;
  background-color: $Grayish-Violet;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 2px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}
// menu //

.wrap-menu {
  background-color: $Dark-Violet;
  padding: 2rem 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  width: 80%;
  z-index: 1000;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  @include larger-screen {
    visibility: visible;
    opacity: 1;
    position: initial;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wrap-menu a {
  color: $white;
  font-weight: 700;
  @include larger-screen {
    color: $Grayish-Violet;
    font-weight: 700;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $Dark-Violet;
    }
  }
}
.wrap-menu li {
  width: 100%;
  text-align: center;
  @include larger-screen() {
    width: inherit;
  }
}

.wrap-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include larger-screen() {
    flex-direction: row;
  }
}

.btn {
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $Cyan-white;
  }
}

.sign-up-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $Cyan;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;

  @include larger-screen() {
    color: $white !important;
    padding: 0.5rem;
    width: inherit;
    padding: 0.5rem 1rem;
  }
}

.menu-link::after {
  content: "";
  width: 100%;
  height: 0.2px;
  opacity: 0.5;
  margin-block: 1rem;
  background: $Grayish-Violet;
  @include larger-screen() {
    display: none;
  }
}

// more than just section //
.human-working-wrap {
  background-image: url(images/illustration-working.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  min-height: 20rem;
  @include larger-screen() {
    max-width: 30rem;
    background-size: contain;
  }
}

.more-than-just {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin: 2rem 0;
  overflow: hidden;
  @include larger-screen {
    flex-direction: row-reverse;
    text-align: left;
    padding-block: 3rem;
  }
}

.wrapper-more-than {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  @include larger-screen {
    align-items: flex-start;
    flex-grow: 2;
  }
}
.more-than-just h1 {
  font-weight: 700;
  color: $Dark-Violet;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -1px;
  @include larger-screen {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.more-than-just p {
  color: $Grayish-Violet;
}

// link app form section //
.link-shorten-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-shorten-mobile.svg);
  padding: 2rem 1rem 2rem 1rem;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: right;
  background-position-y: top;
  border-radius: 0.5rem;
  background-color: $Dark-Violet;
  margin: 1rem 0;
  gap: 1.25rem;
  @include larger-screen() {
    flex-direction: row;
    padding: 2rem;
    background-image: url(images/bg-shorten-desktop.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }
}

.link-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  font-family: inherit;
  padding-block: 0.5rem;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  &::placeholder {
    color: $Gray;
  }

  &.active {
    border: 2px solid $Red;
    margin-bottom: 0;
    &::placeholder {
      color: $Red;
    }
  }
  @include larger-screen() {
    padding-block: 1rem;
  }
}

.wrap-form {
  width: 100%;
  position: relative;
}

.error-msg {
  font-size: 0.75rem;
  font-style: italic;
  color: $Red;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: -1.1rem;
  &.active {
    visibility: visible;
  }
}
.link-button {
  background: none;
  font-family: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-block: 0.5rem;
  width: 100%;
  background-color: $Cyan;
  font-weight: 700;
  color: $white;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  @include larger-screen() {
    max-width: 10rem;
    padding-block: 1rem;
  }
}
.resul-link {
  margin-block: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.shortened-link {
  display: flex;
  flex-direction: column;
  background: white;
  width: calc(100%);
  padding-block: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
  margin-block: 1rem;
  animation: shortened-anim 0.2s forwards ease-in-out;
  transform-origin: top;
  @include larger-screen() {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
  }
}
@keyframes shortened-anim {
  from {
    transform: scaley(0);
  }
  to {
    transform: scaley(1);
  }
}

.link-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  @include larger-screen() {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.yourlink {
  color: $Very-Dark-Blue;
  position: relative;
  margin: 0 1rem;
  padding-bottom: 1rem;
  width: calc(90%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include larger-screen() {
    padding-bottom: 0;
  }
}

.bar-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid $light-Gray;
  @include larger-screen() {
    border-top: none;
    flex-direction: row;
  }
}
.ourlink {
  margin: 0 1rem;
  padding-block: 1rem;
  color: $Cyan;
  width: calc(90%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include larger-screen() {
    text-align: right;
  }
}
.copybutton {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font: inherit;
  background: $Cyan;
  border: transparent;
  border-radius: 0.25rem;
  z-index: 110;
  color: $white;
  transition: all 0.2s ease-in-out;
  padding-block: 0.5rem;
  margin: 0 1rem;
  cursor: pointer;
  @include larger-screen() {
    padding: 0 2rem;
    height: 2.5rem;
    align-self: center;
  }
  &.active {
    background-color: $Very-Dark-Blue;
  }
}
// section statistics //

.statistics {
  padding-block: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.statistics h2 {
  font-weight: 700;
  color: $Dark-Violet;
  letter-spacing: -1px;
  @include larger-screen() {
    font-size: 3rem;
  }
}

.statistics p {
  color: $Grayish-Violet;
  @include larger-screen() {
    max-width: 45ch;
  }
}

// section arguement //
.argument-section {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  @include larger-screen() {
    flex-direction: row;
    gap: 3rem;
    margin: auto;
    height: 100%;
    padding-block: 4rem;
    min-height: 20rem;
    justify-content: space-between;

    gap: 4%;
    max-width: 95rem;
  }
}
.box-argu:nth-child(1) {
  @include larger-screen() {
    align-self: start;
  }
}
.box-argu:nth-child(2) {
  @include larger-screen() {
    align-self: center;
  }
}
.box-argu:nth-child(3) {
  @include larger-screen() {
    align-self: end;
  }
}

.argument-section .box-argu {
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  @include larger-screen() {
    max-width: 20rem;
    max-height: 18rem;
  }
}

.box-argu:nth-child(2) {
  &::before {
    content: "";
    height: 100%;
    width: 0.5rem;
    background: $Cyan;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: -1;
    @include larger-screen() {
      width: 100%;
      height: 0.5rem;
      top: 40%;
      left: 0;
    }
  }

  &::after {
    content: "";
    height: 100%;
    width: 0.5rem;
    background: $Cyan;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: -1;
    @include larger-screen() {
      width: 100%;
      height: 0.5rem;
      bottom: 60%;
      left: 100%;
    }
  }
}

.box-argu p {
  text-align: center;
  color: $Grayish-Violet;
  @include larger-screen() {
    text-align: left;
  }
}
.box-argu h3 {
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: $Dark-Violet;
  letter-spacing: -1px;
  @include larger-screen() {
    text-align: left;
  }
}
.icon-argument {
  transform: scale(0.8);
}
.arg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $Dark-Violet;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  @include larger-screen() {
    left: 25%;
  }
}

// section boost //
.boost-section {
  background-image: url(images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Dark-Violet;
  @include larger-screen() {
    background-image: url(images/bg-boost-desktop.svg);
  }
}

.boost-section h2 {
  color: white;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
}

.get-started-button {
  color: white;
  font-weight: 700;
  background-color: $Cyan;
  border-radius: 2rem;
  padding: 0.75rem 2rem 0.75rem 2rem;
  font-size: 1.125rem;
  max-width: 7rem;
  &:hover {
    background: $Cyan-white;
  }
}
// FOOTER //
footer {
  background-color: $Very-Dark-Violet;
}

footer h4 {
  color: white;
  font-size: 1.125rem;
  margin: 1rem 0 1rem 0;
  font-weight: 700;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-block: 2rem;
  @include larger-screen() {
    padding-block: 1rem;
    gap: 1rem;
  }
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  @include larger-screen() {
    flex-direction: row;
    align-items: flex-start;
    gap: 8%;
    margin: auto;
  }
}

footer a {
  color: $Gray;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $Cyan;
  }
}
.link-social {
  display: block;
  &:hover {
    path {
      transition: all 0.2s ease-in-out;
      fill: $Cyan;
    }
  }
}

footer li {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  @include larger-screen() {
    text-align: left;
  }
}
.logo-footer {
  padding-block: 1rem;
}

.wrapper-logo {
  @include larger-screen() {
    max-width: 23rem;
  }
}
